.modal {
  position: fixed;
  inset: 0;
  z-index: 101;
  padding: 16px;

  background-color: var(--modal-bg);
  border: 1px solid rgba(76, 76, 255, 0.2);

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (min-width: 797px) {
  .modal {
    inset: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 720px;
    height: auto;
    max-height: 90vh;

    padding: 40px;
    border-radius: 40px;

    box-shadow:
      0 0 1px rgba(0, 0, 0, 0.04),
      0 4px 8px rgba(0, 0, 0, 0.04),
      0 16px 24px rgba(0, 0, 0, 0.04),
      0 24px 32px rgba(0, 0, 0, 0.04);
  }
}

.modal_overlay {
  @media (max-width: 796px) {
    display: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.content {
  flex: 1;
  overflow-y: auto;
}

.close_button {
  display: inline-flex;
  margin-left: auto;
  padding: 0;
}


