.not_found_page_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.not_found_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 0;
}
