.forgot_password_page_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.forgot_password_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}

.forgot_password_page_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;
}
