.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.orders_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  padding-right: 20px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.status_columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
}

.status_column {
  display: flex;
  flex-direction: column;
}

.status_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-auto-flow: column;
  gap: 8px;
}

.status_number_done {
  color: var(--color-success);
}

.total_number {
  text-shadow: var(--text-shadow-glow);
}
