.simple_layout_container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

.simple_layout_content {
  width: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  height: 100%;
}

.simple_layout_content_container {
  height: 100%;
  width: 100%;
  max-width: 1240px;
  margin: 0 36px;
  display: flex;
  flex-direction: column;
  overflow: auto;

  @media (max-width: 796px) {
    margin: 0 24px;
  }
}
