.mobile_bar {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 72px;
  z-index: 99;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 16px;
  background-color: var(--modal-bg);
  border-radius: 16px 16px 0 0;
}
