.nutritional_information {
  display: grid;
  justify-content: center;
  gap: 20px;
  grid-template-columns: repeat(4, minmax(112px, max-content));
  margin-top: 32px;
  width: 100%;

  @media (max-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.nutritional_information_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
