.header_nav_link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 20px;
}

@media (max-width: 1200px) {
  .header_nav_link span {
    display: none;
  }
}

@media (max-width: 796px) {
  .header_nav_link {
    padding: 8px;
  }
}

