.main_layout_container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;

  @media (max-width: 1228px) {
    padding-bottom: 72px;
  }
}

.main_layout_content {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.main_layout_content_container {
  height: 100%;
  width: 100%;
  max-width: 1240px;
  margin: 0 36px;
  display: flex;
  flex-direction: column;

  @media (max-width: 796px) {
    margin: 0 24px;
  }
}
