.mobile_order_details {
  padding-bottom: 36px;

  @media (max-width: 796px) {
    padding-bottom: 72px;
  }
}

.bun_element {
  padding: 16px 0 16px 24px;
  box-shadow: 0 1px 0 rgba(47, 47, 55, 1);
}
