.ingredient {
  display: flex;
  align-items: center;
  padding: 16px 0;
  box-shadow: 0 1px 0 rgba(47, 47, 55, 1);
}

.drag_icon_container {
  display: flex;
  cursor: grab;
}

.drag_icon_container:active {
  cursor: grabbing;
}

.drag_icon {
  flex-shrink: 0;
}
