.ingredient {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;

  position: relative;
}

.image {
  max-width: 100%;
  height: auto;
}

.element_name {
  flex: 1;
}

.icon {
  flex-shrink: 0;
}
